.banner{ 
    background-image: url(../../assets/banner/banner.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    
}
.overlay{
    background: radial-gradient(circle, rgba(27,1,3,0.8631827731092436) 0%, rgba(11,18,33,0.8071603641456583) 70%);
    height: 80vh;
}